<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -ESRA ÇAKIR _ DAMACANA 2015</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style='background: #bee3ef; background-image:url("http://img-fotki.yandex.ru/get/5703/66124276.8d/0_76387_631e1fdb_XL"); background-size: 1300px 900px ;
    background-repeat: repeat;'>

    <div class="navbar navbar-inverse navbar-fixed-top " style='height: 70px; color : white; background-color: rgba(255, 0, 0, 0.4)'>
        <div class="container">
            <div class="navbar-header" style='font-size: 20px; align-self: center'>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div><p></p></div>
                @Html.ActionLink("Damacana", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div><p></p></div>
            <div style='font-size: 20px; align-self: center; height: 80px;' class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ProductList", "listproduct", "Product")</li>
                    <li>@Html.ActionLink("AddProduct", "addproduct", "Product")</li>
                    <li>@Html.ActionLink("CartList", "detailcart", "Cart")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content navbar-fixed" style='margin-bottom: 60px;margin-top: 30px; background-color: rgba(102, 178, 255, 0.2)'>
        @RenderBody()


        <div class="container body-content navbar-fixed-bottom">
            <footer>
                <hr />
                <p style='color: white'>&copy; @DateTime.Now.Year -<b> ESRA ÇAKIR </b></p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
